# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Saved/AutoScreenshot.png
Practice_Git/Saved/Backup/NewMap_2021-06-01-16-58-12.umap
Practice_Git/Saved/Backup/NewMap_BuiltData_2021-06-01-16-58-12.uasset
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-F61DA97C41F51B7119B297AA462E915F/CrashReportClient.ini
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/Config/WorldState/1233850818.json
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.55.55.log
Practice_Git/Saved/Logs/Practice_Git.log
Practice_Git/Saved/Logs/Practice_Git_2.log
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Saved/AutoScreenshot.png
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-2CDED5D0496307C7F035CAAB134A30BF/CrashReportClient.ini
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/Config/Windows/Engine.ini
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.58.21.log
Practice_Git/Saved/Logs/Practice_Git.log
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Saved/AutoScreenshot.png
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/Config/Windows/Engine.ini
Practice_Git/Saved/Logs/Practice_Git.log
Practice_Git/Saved/Logs/Practice_Git.log
Practice_Git/Saved/Config/Windows/Engine.ini
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/AutoScreenshot.png
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Intermediate/AssetRegistryCache/51260551.bin
Practice_Git/Intermediate/AssetRegistryCache/bec7032c.bin
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Practice_Git/Saved/AutoScreenshot.png
Practice_Git/Saved/Backup/Map_2021-06-01-16-19-24.umap
Practice_Git/Saved/Backup/Map_2021-06-01-16-31-17.umap
Practice_Git/Saved/Backup/Map_2021-06-01-17-03-29.umap
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-16-19-24.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-16-31-17.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-03-29.uasset
Practice_Git/Saved/Backup/Sphere_BP_2021-06-01-16-31-12.uasset
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-21DF6F6F4007EA12871889B79072760F/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-275B60EE467DF444A1B6F6B98A941C82/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-2ECBFB93444A2B462AF9929B2BBC844D/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-5ADB91A7444B6AC0AF939FB749DF975C/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-6A9707D34E646C5D718605B2F1D89387/CrashReportClient.ini
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/Config/Windows/Engine.ini
Practice_Git/Saved/Config/WorldState/2960232911.json
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.25.28.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.26.44.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.33.31.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-08.27.41.log
Practice_Git/Saved/Logs/Practice_Git.log
Practice_Git/Saved/Logs/Practice_Git.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-08.03.39.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.33.31.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.26.44.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.25.28.log
Practice_Git/Saved/Config/WorldState/2960232911.json
Practice_Git/Saved/Config/Windows/VariantManagerContent.ini
Practice_Git/Saved/Config/Windows/UnrealInsightsSettings.ini
Practice_Git/Saved/Config/Windows/Synthesis.ini
Practice_Git/Saved/Config/Windows/Scalability.ini
Practice_Git/Saved/Config/Windows/RuntimeOptions.ini
Practice_Git/Saved/Config/Windows/PostSplashScreen.ini
Practice_Git/Saved/Config/Windows/PhysXVehicles.ini
Practice_Git/Saved/Config/Windows/Paper2D.ini
Practice_Git/Saved/Config/Windows/OculusVR.ini
Practice_Git/Saved/Config/Windows/Niagara.ini
Practice_Git/Saved/Config/Windows/MagicLeapLightEstimation.ini
Practice_Git/Saved/Config/Windows/MagicLeap.ini
Practice_Git/Saved/Config/Windows/Lightmass.ini
Practice_Git/Saved/Config/Windows/Input.ini
Practice_Git/Saved/Config/Windows/Hardware.ini
Practice_Git/Saved/Config/Windows/GameUserSettings.ini
Practice_Git/Saved/Config/Windows/Game.ini
Practice_Git/Saved/Config/Windows/Engine.ini
Practice_Git/Saved/Config/Windows/EditorScriptingUtilities.ini
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/Config/Windows/Editor.ini
Practice_Git/Saved/Config/Windows/DeviceProfiles.ini
Practice_Git/Saved/Config/Windows/Compat.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-A817874A4EC5D5B5CC39D9A10ABB0946/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-6A9707D34E646C5D718605B2F1D89387/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-5ADB91A7444B6AC0AF939FB749DF975C/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-2ECBFB93444A2B462AF9929B2BBC844D/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-275B60EE467DF444A1B6F6B98A941C82/CrashReportClient.ini
Practice_Git/Saved/Backup/Sphere_BP_2021-06-01-16-31-12.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-16-51.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-03-29.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-16-31-17.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-16-19-24.uasset
Practice_Git/Saved/Backup/Map_2021-06-01-17-16-51.umap
Practice_Git/Saved/Backup/Map_2021-06-01-17-03-29.umap
Practice_Git/Saved/Backup/Map_2021-06-01-16-31-17.umap
Practice_Git/Saved/Backup/Map_2021-06-01-16-19-24.umap
Practice_Git/Saved/Backup/Level2_2021-06-01-17-16-48.umap
Practice_Git/Saved/AutoScreenshot.png
Practice_Git/Saved/Autosaves/PackageRestoreData.json
Practice_Git/Intermediate/ReimportCache/3688439234.bin
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Intermediate/AssetRegistryCache/f9a05403.bin
Practice_Git/Intermediate/AssetRegistryCache/e96e974b.bin
Practice_Git/Intermediate/AssetRegistryCache/cab1fe45.bin
Practice_Git/Intermediate/AssetRegistryCache/c2ecf2aa.bin
Practice_Git/Intermediate/AssetRegistryCache/c0a7a26b.bin
Practice_Git/Intermediate/AssetRegistryCache/bec7032c.bin
Practice_Git/Intermediate/AssetRegistryCache/b41d435a.bin
Practice_Git/Intermediate/AssetRegistryCache/b3ce8ea5.bin
Practice_Git/Intermediate/AssetRegistryCache/9bfd9480.bin
Practice_Git/Intermediate/AssetRegistryCache/9ad1448d.bin
Practice_Git/Intermediate/AssetRegistryCache/8d22b410.bin
Practice_Git/Intermediate/AssetRegistryCache/629f845f.bin
Practice_Git/Intermediate/AssetRegistryCache/55c23754.bin
Practice_Git/Intermediate/AssetRegistryCache/51260551.bin
Practice_Git/Intermediate/AssetRegistryCache/4a131f6f.bin
Practice_Git/Intermediate/AssetRegistryCache/4471b704.bin
Practice_Git/Intermediate/AssetRegistryCache/3267c64e.bin
Practice_Git/Intermediate/AssetRegistryCache/1e449417.bin
Practice_Git/Intermediate/AssetRegistryCache/1cd9b6b1.bin
Practice_Git/Intermediate/AssetRegistryCache/142f06ae.bin
Practice_Git/Intermediate/AssetRegistryCache/0e509070.bin
Practice_Git/Intermediate/AssetRegistryCache/0e509070.bin
Practice_Git/Intermediate/AssetRegistryCache/142f06ae.bin
Practice_Git/Intermediate/AssetRegistryCache/1cd9b6b1.bin
Practice_Git/Intermediate/AssetRegistryCache/1e449417.bin
Practice_Git/Intermediate/AssetRegistryCache/3267c64e.bin
Practice_Git/Intermediate/AssetRegistryCache/4471b704.bin
Practice_Git/Intermediate/AssetRegistryCache/4a131f6f.bin
Practice_Git/Intermediate/AssetRegistryCache/51260551.bin
Practice_Git/Intermediate/AssetRegistryCache/55c23754.bin
Practice_Git/Intermediate/AssetRegistryCache/629f845f.bin
Practice_Git/Intermediate/AssetRegistryCache/8d22b410.bin
Practice_Git/Intermediate/AssetRegistryCache/9ad1448d.bin
Practice_Git/Intermediate/AssetRegistryCache/9bfd9480.bin
Practice_Git/Intermediate/AssetRegistryCache/b3ce8ea5.bin
Practice_Git/Intermediate/AssetRegistryCache/b41d435a.bin
Practice_Git/Intermediate/AssetRegistryCache/bec7032c.bin
Practice_Git/Intermediate/AssetRegistryCache/c0a7a26b.bin
Practice_Git/Intermediate/AssetRegistryCache/c2ecf2aa.bin
Practice_Git/Intermediate/AssetRegistryCache/cab1fe45.bin
Practice_Git/Intermediate/AssetRegistryCache/e96e974b.bin
Practice_Git/Intermediate/AssetRegistryCache/f9a05403.bin
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Practice_Git/Intermediate/ReimportCache/3688439234.bin
Practice_Git/Saved/Autosaves/PackageRestoreData.json
Practice_Git/Saved/AutoScreenshot.png
Practice_Git/Saved/Backup/Level2_2021-06-01-17-16-48.umap
Practice_Git/Saved/Backup/Map_2021-06-01-16-19-24.umap
Practice_Git/Saved/Backup/Map_2021-06-01-16-31-17.umap
Practice_Git/Saved/Backup/Map_2021-06-01-17-03-29.umap
Practice_Git/Saved/Backup/Map_2021-06-01-17-16-51.umap
Practice_Git/Saved/Backup/Map_2021-06-01-17-37-01.umap
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-16-19-24.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-16-31-17.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-03-29.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-16-51.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-37-01.uasset
Practice_Git/Saved/Backup/Sphere_BP_2021-06-01-16-31-12.uasset
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-275B60EE467DF444A1B6F6B98A941C82/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-2ECBFB93444A2B462AF9929B2BBC844D/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-5ADB91A7444B6AC0AF939FB749DF975C/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-6A9707D34E646C5D718605B2F1D89387/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-A817874A4EC5D5B5CC39D9A10ABB0946/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-B5701B9D4433DBBDBE5B8C89D86BB034/CrashReportClient.ini
Practice_Git/Saved/Config/LevelState/2960232911.json
Practice_Git/Saved/Config/Windows/Compat.ini
Practice_Git/Saved/Config/Windows/DeviceProfiles.ini
Practice_Git/Saved/Config/Windows/Editor.ini
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/Config/Windows/EditorScriptingUtilities.ini
Practice_Git/Saved/Config/Windows/Engine.ini
Practice_Git/Saved/Config/Windows/Game.ini
Practice_Git/Saved/Config/Windows/GameUserSettings.ini
Practice_Git/Saved/Config/Windows/Hardware.ini
Practice_Git/Saved/Config/Windows/Input.ini
Practice_Git/Saved/Config/Windows/Lightmass.ini
Practice_Git/Saved/Config/Windows/MagicLeap.ini
Practice_Git/Saved/Config/Windows/MagicLeapLightEstimation.ini
Practice_Git/Saved/Config/Windows/Niagara.ini
Practice_Git/Saved/Config/Windows/OculusVR.ini
Practice_Git/Saved/Config/Windows/Paper2D.ini
Practice_Git/Saved/Config/Windows/PhysXVehicles.ini
Practice_Git/Saved/Config/Windows/PostSplashScreen.ini
Practice_Git/Saved/Config/Windows/RuntimeOptions.ini
Practice_Git/Saved/Config/Windows/Scalability.ini
Practice_Git/Saved/Config/Windows/Synthesis.ini
Practice_Git/Saved/Config/Windows/UnrealInsightsSettings.ini
Practice_Git/Saved/Config/Windows/VariantManagerContent.ini
Practice_Git/Saved/Config/WorldState/2960232911.json
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.25.28.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.26.44.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.33.31.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-08.03.39.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-08.16.55.log
Practice_Git/Saved/Logs/Practice_Git.log
Practice_Git/Intermediate/AssetRegistryCache/0e509070.bin
Practice_Git/Intermediate/AssetRegistryCache/142f06ae.bin
Practice_Git/Intermediate/AssetRegistryCache/1cd9b6b1.bin
Practice_Git/Intermediate/AssetRegistryCache/1e449417.bin
Practice_Git/Intermediate/AssetRegistryCache/3267c64e.bin
Practice_Git/Intermediate/AssetRegistryCache/4471b704.bin
Practice_Git/Intermediate/AssetRegistryCache/4a131f6f.bin
Practice_Git/Intermediate/AssetRegistryCache/51260551.bin
Practice_Git/Intermediate/AssetRegistryCache/55c23754.bin
Practice_Git/Intermediate/AssetRegistryCache/629f845f.bin
Practice_Git/Intermediate/AssetRegistryCache/8d22b410.bin
Practice_Git/Intermediate/AssetRegistryCache/9ad1448d.bin
Practice_Git/Intermediate/AssetRegistryCache/9bfd9480.bin
Practice_Git/Intermediate/AssetRegistryCache/b3ce8ea5.bin
Practice_Git/Intermediate/AssetRegistryCache/b41d435a.bin
Practice_Git/Intermediate/AssetRegistryCache/bec7032c.bin
Practice_Git/Intermediate/AssetRegistryCache/c0a7a26b.bin
Practice_Git/Intermediate/AssetRegistryCache/c2ecf2aa.bin
Practice_Git/Intermediate/AssetRegistryCache/cab1fe45.bin
Practice_Git/Intermediate/AssetRegistryCache/e96e974b.bin
Practice_Git/Intermediate/AssetRegistryCache/f9a05403.bin
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Practice_Git/Intermediate/ReimportCache/3688439234.bin
Practice_Git/Saved/Autosaves/PackageRestoreData.json
Practice_Git/Saved/AutoScreenshot.png
Practice_Git/Saved/Backup/Level2_2021-06-01-17-16-48.umap
Practice_Git/Saved/Backup/Map_2021-06-01-16-19-24.umap
Practice_Git/Saved/Backup/Map_2021-06-01-16-31-17.umap
Practice_Git/Saved/Backup/Map_2021-06-01-17-03-29.umap
Practice_Git/Saved/Backup/Map_2021-06-01-17-16-51.umap
Practice_Git/Saved/Backup/Map_2021-06-01-17-37-01.umap
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-16-19-24.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-16-31-17.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-03-29.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-16-51.uasset
Practice_Git/Saved/Backup/Map_BuiltData_2021-06-01-17-37-01.uasset
Practice_Git/Saved/Backup/Sphere_BP_2021-06-01-16-31-12.uasset
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-275B60EE467DF444A1B6F6B98A941C82/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-2ECBFB93444A2B462AF9929B2BBC844D/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-5ADB91A7444B6AC0AF939FB749DF975C/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-6A9707D34E646C5D718605B2F1D89387/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-A817874A4EC5D5B5CC39D9A10ABB0946/CrashReportClient.ini
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-B5701B9D4433DBBDBE5B8C89D86BB034/CrashReportClient.ini
Practice_Git/Saved/Config/LevelState/2960232911.json
Practice_Git/Saved/Config/Windows/Compat.ini
Practice_Git/Saved/Config/Windows/DeviceProfiles.ini
Practice_Git/Saved/Config/Windows/Editor.ini
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/Config/Windows/EditorScriptingUtilities.ini
Practice_Git/Saved/Config/Windows/Engine.ini
Practice_Git/Saved/Config/Windows/Game.ini
Practice_Git/Saved/Config/Windows/GameUserSettings.ini
Practice_Git/Saved/Config/Windows/Hardware.ini
Practice_Git/Saved/Config/Windows/Input.ini
Practice_Git/Saved/Config/Windows/Lightmass.ini
Practice_Git/Saved/Config/Windows/MagicLeap.ini
Practice_Git/Saved/Config/Windows/MagicLeapLightEstimation.ini
Practice_Git/Saved/Config/Windows/Niagara.ini
Practice_Git/Saved/Config/Windows/OculusVR.ini
Practice_Git/Saved/Config/Windows/Paper2D.ini
Practice_Git/Saved/Config/Windows/PhysXVehicles.ini
Practice_Git/Saved/Config/Windows/PostSplashScreen.ini
Practice_Git/Saved/Config/Windows/RuntimeOptions.ini
Practice_Git/Saved/Config/Windows/Scalability.ini
Practice_Git/Saved/Config/Windows/Synthesis.ini
Practice_Git/Saved/Config/Windows/UnrealInsightsSettings.ini
Practice_Git/Saved/Config/Windows/VariantManagerContent.ini
Practice_Git/Saved/Config/WorldState/2960232911.json
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.25.28.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.26.44.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-07.33.31.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-08.03.39.log
Practice_Git/Saved/Logs/Practice_Git-backup-2021.06.01-08.16.55.log
Practice_Git/Saved/Logs/Practice_Git.log
Practice_Git/Intermediate/AssetRegistryCache/0e509070.bin
Practice_Git/Intermediate/AssetRegistryCache/142f06ae.bin
Practice_Git/Intermediate/AssetRegistryCache/1cd9b6b1.bin
Practice_Git/Intermediate/AssetRegistryCache/1e449417.bin
Practice_Git/Intermediate/AssetRegistryCache/3267c64e.bin
Practice_Git/Intermediate/AssetRegistryCache/4471b704.bin
Practice_Git/Intermediate/AssetRegistryCache/4a131f6f.bin
Practice_Git/Intermediate/AssetRegistryCache/55c23754.bin
Practice_Git/Intermediate/AssetRegistryCache/629f845f.bin
Practice_Git/Intermediate/AssetRegistryCache/8d22b410.bin
Practice_Git/Intermediate/AssetRegistryCache/9ad1448d.bin
Practice_Git/Intermediate/AssetRegistryCache/9bfd9480.bin
Practice_Git/Intermediate/AssetRegistryCache/b3ce8ea5.bin
Practice_Git/Intermediate/AssetRegistryCache/b41d435a.bin
Practice_Git/Intermediate/AssetRegistryCache/c0a7a26b.bin
Practice_Git/Intermediate/AssetRegistryCache/c2ecf2aa.bin
Practice_Git/Intermediate/AssetRegistryCache/cab1fe45.bin
Practice_Git/Intermediate/AssetRegistryCache/e96e974b.bin
Practice_Git/Intermediate/AssetRegistryCache/f9a05403.bin
Practice_Git/Intermediate/CachedAssetRegistry.bin
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Practice_Git/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Practice_Git/Intermediate/ReimportCache/3688439234.bin
Practice_Git/Saved/Autosaves/PackageRestoreData.json
Practice_Git/Saved/Backup/P-Level_2021-06-02-08-55-55.umap
Practice_Git/Saved/Backup/P-Level_BuiltData_2021-06-02-08-55-55.uasset
Practice_Git/Saved/Config/CrashReportClient/UE4CC-Windows-C78B97EF493BA542D9947C81D3316A4B/CrashReportClient.ini
Practice_Git/Saved/Config/LevelState/1233950307.json
Practice_Git/Saved/Config/Windows/Compat.ini
Practice_Git/Saved/Config/Windows/DeviceProfiles.ini
Practice_Git/Saved/Config/Windows/Editor.ini
Practice_Git/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Practice_Git/Saved/Config/Windows/EditorScriptingUtilities.ini
Practice_Git/Saved/Config/Windows/Engine.ini
Practice_Git/Saved/Config/Windows/Game.ini
Practice_Git/Saved/Config/Windows/GameUserSettings.ini
Practice_Git/Saved/Config/Windows/Hardware.ini
Practice_Git/Saved/Config/Windows/Input.ini
Practice_Git/Saved/Config/Windows/Lightmass.ini
Practice_Git/Saved/Config/Windows/MagicLeap.ini
Practice_Git/Saved/Config/Windows/MagicLeapLightEstimation.ini
Practice_Git/Saved/Config/Windows/Niagara.ini
Practice_Git/Saved/Config/Windows/OculusVR.ini
Practice_Git/Saved/Config/Windows/Paper2D.ini
Practice_Git/Saved/Config/Windows/PhysXVehicles.ini
Practice_Git/Saved/Config/Windows/PostSplashScreen.ini
Practice_Git/Saved/Config/Windows/RuntimeOptions.ini
Practice_Git/Saved/Config/Windows/Scalability.ini
Practice_Git/Saved/Config/Windows/Synthesis.ini
Practice_Git/Saved/Config/Windows/VariantManagerContent.ini
Practice_Git/Saved/Config/WorldState/1233950307.json
Practice_Git/Saved/Logs/Practice_Git.log
